@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: rgba(26, 55, 77, 1);
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .profile header {
    text-align: center;
  }

  header.navbar-container {
    max-width: auto;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding-block: 1rem;
    z-index: 999;
    position: sticky;
    top: 0;
   }
    
   header.navbar-container .logo img {
    width: 150px;
    float: left;
   }

   header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
  }
   
  header.navbar-container .nav-list li {
    list-style-type: none;
  }
   
  header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
    color: #1A374D;
  }

  header.navbar-container .nav-list li:hover a {
    background-color: #1A374D;
    color: white;
  }

  main {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: 2rem 4rem;
    flex: 1;
   
    display: flex;
    align-items: center;
  }

  main .content {
    flex: 1;
    display: flex;
    align-items: center;
  }

  main .about-content{
    flex: 1;
    display: flex;
    align-items: center;
  }

  main .content .content-introduction {
    flex: 1 1;
  }

  main .about-content .about-content-introduction {
    flex: 1 1;
  }

  main .content .content-introduction .greetings{
    color: rgba(255, 255, 255, 0.800000011920929);
    font-size: 1.5rem;
    margin-block: 0.5rem;
  }

  main .content .content-introduction .role {
    color: rgba(255, 255, 255, 0.800000011920929);
    font-size: 1.5rem;
    margin-block: 0.5rem;
  }

  main .content .content-introduction .name {
    font-size: 3.5rem;
    margin-block: 1rem;
    color: rgba(255, 255, 255, 1);
  }

  main .about-content .about-content-introduction .name {
    font-size: 3.5rem;
    margin-block: 1rem;
    color: rgba(255, 255, 255, 1);
  }

  main .content .content-introduction p {
    line-height: 1.7rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6000000238418579);
    font-style: normal;
  }

  main .about-content .about-content-introduction p {
    line-height: 1.7rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.800000011920929);
    font-style: normal;
  }

  main .content .content-introduction button {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #1A374D;
   
    border: 3px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(217, 217, 217, 1);
    cursor: pointer;
    transition: all .15s ease-in;
  }

  main .content .content-description button:hover {
    border: 3px solid #2D3E50;
    color: #2D3E50;
    background-color: transparent;
  }

  main .content .content-description button:hover {
    border: 3px solid #2D3E50;
    color: #2D3E50;
    background-color: transparent;
  }

  aside .profile header figure img {
    flex: 1;
    display: flex;
    margin: auto;
    min-width: 250px;
    width: 300px;
  }

  aside {
    flex: 1;
    color: white;
  }

  footer {
    padding: 20px;
    color: #1A374D;
    background-color: white;
  }

  @media screen and (max-width: 768px) {
    header.navbar-container {
      flex-direction: column;
    }

    header.navbar-container .nav-list ul {
      flex-wrap: wrap;
      column-gap: .5rem;
    }

    main .content {
      flex-direction: column;
    }

    main {
      padding: 1rem 3rem;
    }

    main .content .content-description .greetings {
      font-size: 3rem;
    }

    main .content .content-description .role {
      font-size: 3rem;
    }

    main .content .content-description .name {
      font-size: 3rem;
    }
   
    main .content .content-introduction p {
      font-size: 1rem;
    }
   
    main .content .content-image {
      order: -1;
    }
  }